.menu li a{display: inline-block;
    border: 1px solid black;
    width: 150px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    list-style-type: none ;
    padding: 10px;
    margin-left: 25px;
    font-size: large;
    color: black;
}
.menu{
    padding: 0 ;
    margin: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: center;  
  }
  
  li:hover ul {display:block;  
  }
  .menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    display: none;
  }
  .menu > li > a{
    background: url(foto/facultet.png) no-repeat 0 0 ;
    background-size:40px;
  }
  .menu > li:nth-child(2):hover > a{
    background-position: top -40px left;
  }
  .menu > li:nth-child(3):hover > a{
    background-position: bottom left;
  }
  .menu > li:last-child:hover > a{
    background-position: top -80px left;
  }
  .menu > li:nth-child(2):hover > a + ul{
    display: block;
  }