@import"mixins";
@import"variables";
main{flex: 0 0 75%;
  
    
    .text{margin-top: 13px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        flex-shrink: 0;
      
        align-content: space-between;
        h2 { text-align: center;
            width: 100%;
            flex-shrink: 0;
            font-size: $font-size1;
            
        }
        p{  font-size: textsize($font-size1);
            min-height: 170px ;
            width: 300px;
            border: 1px solid ;
            text-align: justify;
            text-indent: 10px;
            padding: 10px;
        }
      
    }
    .img{
        display: flex;
        gap: 10px;
       
        flex-wrap: wrap;
        align-content: space-between;
        h2{text-align: center;
            width: 100%;
           
            
           
        }
        div{padding-left: 10px;
            margin-top: 15px;
            position: relative;
                    
            img{    
                height: 270px;
                width: 230px;
            }
        }
    
    }
}