h1,h2,h3 {
font-family: Monotype Corsiva;
color:rgb(107,63 , 160);
}
.a {
font-family: Times New Roman;
font-size: 18pt;
 color: #ff0000;    
}
.b {
font-family: Times New Roman;
font-size: 20pt;
 color: #f2ff00;    
}
.c {
font-family: Times New Roman;
font-size: 22pt;
 color: #00ff2a;    
}
