table{
    border-spacing: 0px;
    width: 500px;
    height: 500px;
}
td{
    width: 50px;
    height: 50px;
    border: 1px black solid;
}
tr{
    text-align: center;
}
tr:first-child td{
    background-color: gray !important;
    empty-cells: hide ;
    height: 25px ;
}
tr:last-child td{
    background-color: gray !important;
    empty-cells: hide;
    height: 25px;
}
td:first-child{
    background-color: gray !important;
    width: 25px;
}
td:last-child{
    background-color: gray !important;
    width: 25px;
}
tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even)
{background-color: black;}